.editorconfig
MATLAB code/
FEM material/
notes/
*.asv
main.aux
main.fls
# main.pdf
main.fdb_latexmk
main.log
main.synctex.gz
main.toc
# test.m
test1.m
# *.vtk
# *.inp
twoDimensional/*.inp
twoDimensional/*.vtk
eulerEqs/test.m
eulerEqs/*.asv
